server:
  port: ${SERVER_PORT:8978}

spring:
  application:
    name: chain-service
  security:
    basic:
      enabled: false

blockchain:
  rpc-url: ${RPC_URL}
  chain-id: ${CHAIN_ID:43113}
  relayer:
    wallet-address: ${RELAYER_WALLET_ADDRESS}
    gas-payer-contract-address: ${GAS_PAYER_CONTRACT_ADDRESS:0x0000000000000000000000000000000000000000}
    private-key: ${RELAYER_PRIVATE_KEY}
    use-config-file: false
  timeout:
    connect-seconds: ${BLOCKCHAIN_CONNECT_TIMEOUT:30}
    read-seconds: ${BLOCKCHAIN_READ_TIMEOUT:60}  
    write-seconds: ${BLOCKCHAIN_WRITE_TIMEOUT:60}
  gas:
    price-multiplier: ${PRICE_MULTIPLIER:1.2}
    minimum-gas-price-wei: ${MIN_GAS_WEI:6}
    max-gas-limit: ${MAX_GAS_LIMIT:1} #set ridiculously low so any non-specified function call will fail
    max-gas-cost-wei: ${MAX_GAS_COST_WEI:1} #same
    multiplier: ${GAS_MULTIPLIER:1.11}
    max-gas-price-multiplier: ${MAX_GAS_PRICE_MULTIPLIER:3}

escrow:
  usdc-contract-address: ${USDC_CONTRACT_ADDRESS}
  contract-factory-address: ${CONTRACT_FACTORY_ADDRESS}
  creator-fee: ${CREATOR_FEE_USDC_X_1M}
  # gas limits calculated from foundry
  limit-create-contract: ${GAS_LIMIT_CREATE_CONTRACT:273000} 
  limit-deposit: ${GAS_LIMIT_DEPOSIT:131055}
  limit-dispute: ${GAS_LIMIT_DISPUTE:8800}
  limit-claim: ${GAS_LIMIT_CLAIM:40800}
  limit-resolve: ${GAS_LIMIT_RESOLVE:68000}
  limit-approve-usdc: ${GAS_LIMIT_APPROVE_USDC:60000}
  gas-multiplier: ${GAS_MULTIPLIER:1.11}

auth:
  user-service-url: ${USER_SERVICE_URL:https://api.conduit-ucpi.com/userservice}
  enabled: ${AUTH_ENABLED:true}

contract-service:
  url: ${CONTRACT_SERVICE_URL:http://localhost:8080}
  enabled: ${CONTRACT_SERVICE_ENABLED:true}

email-service:
  url: ${EMAIL_SERVICE_URL:http://localhost:8979}
  enabled: ${EMAIL_SERVICE_ENABLED:true}

gas-payer:
  service-url: ${GAS_PAYER_SERVICE:http://localhost:8080}
  api-key: ${GAS_PAYER_API_KEY:}

app:
  service-link: ${SERVICE_LINK:http://localhost:3000}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
  show-actuator: true

logging:
  level:
    com.conduit.chainservice: ${LOG_LEVEL:INFO}
    org.web3j:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
