name: Build and Deploy Spring Boot
on:
 push:
   branches: [ "main" ]
jobs:
 build-and-deploy:
   runs-on: ubuntu-latest
   environment: test
   permissions:
     contents: read
     packages: write
   
   steps:
     - uses: actions/checkout@v4
       with:
         fetch-depth: 0

     - name: Set up JDK 17
       uses: actions/setup-java@v3
       with:
         java-version: '17'
         distribution: 'temurin'

     - name: Build with Gradle
       run: ./gradlew build

     - name: Login to GitHub Container Registry
       uses: docker/login-action@v3
       with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GITHUB_TOKEN }}

     - name: Set up Docker Buildx
       uses: docker/setup-buildx-action@v3

     - name: Lowercase the repo name and set git SHA
       run: |
         echo "REPO_LOWER=$(echo ${{ github.repository }} | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV
         echo "GIT_SHA=$(git rev-parse --short HEAD)" >> $GITHUB_ENV

     - name: Build and push Docker image
       uses: docker/build-push-action@v5
       with:
         context: .
         file: ./Dockerfile
         push: true
         tags: |
           ghcr.io/${{ env.REPO_LOWER }}:latest
           ghcr.io/${{ env.REPO_LOWER }}:${{ env.GIT_SHA }}
         cache-from: type=gha
         cache-to: type=gha,mode=max

     - name: Deploy to remote server
       run: |
         mkdir -p ~/.ssh
         echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/deploy_key
         chmod 600 ~/.ssh/deploy_key
         ssh-keyscan -H ${{ vars.VM_IP }} >> ~/.ssh/known_hosts
         
         ssh -i ~/.ssh/deploy_key -l gituser ${{ vars.VM_IP }} -vv '
           set -e
           echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
           docker pull ghcr.io/${{ env.REPO_LOWER }}:${{ env.GIT_SHA }}
           docker stop ${{ vars.SERVICE_NAME }} || true
           docker rm ${{ vars.SERVICE_NAME }} || true
           
           docker run -d \
             --name ${{ vars.SERVICE_NAME }} \
             --network ${{ vars.DOCKER_NETWORK }} \
             --restart unless-stopped \
             -e COOKIE_DOMAIN="${{ vars.COOKIE_DOMAIN }}" \
             -e LOG_LEVEL=${{ vars.LOG_LEVEL }} \
             -e USER_SERVICE_URL=${{ vars.USER_SERVICE_URL }} \
             -e CONTRACT_FACTORY_ADDRESS=${{ vars.CONTRACT_FACTORY_ADDRESS }} \
             -e RPC_URL=${{ vars.RPC_URL }} \
             -e RELAYER_WALLET_ADDRESS=${{ vars.RELAYER_WALLET_ADDRESS }} \
             -e RELAYER_PRIVATE_KEY=${{ secrets.RELAYER_PRIVATE_KEY }} \
             ghcr.io/${{ env.REPO_LOWER }}:${{ env.GIT_SHA }}
         '
